version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: capstone_backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
    container_name: capstone_frontend
    ports:
      - "3000:3000"
